# Database credentials
DATABASE_URL_NEON=

DATABASE_URL=

# JWT Token
JWT_SECRET=

# GEMINI API KEY
GEMINI_API_KEY=

# ---- Auth Endpoints ----
NEXT_PUBLIC_LOGIN_API_URL=
NEXT_PUBLIC_LOGOUT_API_URL=
NEXT_PUBLIC_REGISTER_API_URL=

# ---- User Endpoints ----
NEXT_PUBLIC_USERS_API_URL=
NEXT_PUBLIC_EXPORT_USERS_API_URL=

# ---- Ticket Endpoints ----
NEXT_PUBLIC_TICKET_API_URL=
NEXT_PUBLIC_DELETE_TICKET_API_URL=
NEXT_PUBLIC_EXPORT_TICKETS_API_URL=
NEXT_PUBLIC_ARCHIVE_CANCELED_TICKET_API_URL=
NEXT_PUBLIC_ARCHIVE_CLOSED_TICKET_API_URL=

# ---- Project Endpoint ----
NEXT_PUBLIC_PROJECT_API_URL=
NEXT_PUBLIC_DELETE_PROJECT_API_URL=
NEXT_PUBLIC_EXPORT_PROJECTS_API_URL=