# Database credentials
DATABASE_URL=
# JWT Token
JWT_SECRET=

# Endpoints
# ---- Auth Endpoints ----
NEXT_PUBLIC_LOGIN_API_URL=
NEXT_PUBLIC_LOGOUT_API_URL=
NEXT_PUBLIC_REGISTER_API_URL=
# ---- User Endpoints ----
NEXT_PUBLIC_ELIMINATE_USER_API_URL=
NEXT_PUBLIC_EDIT_USER_API_URL=
NEXT_PUBLIC_GET_USER_BY_ID_API_URL=
# ---- Tickets Endpoints ----
NEXT_PUBLIC_GET_TICKET_BY_ID_API_URL=
NEXT_PUBLIC_CREATE_TICKET_API_URL=
NEXT_PUBLIC_ELIMINATE_TICKET_API_URL=
NEXT_PUBLIC_EDIT_TICKET_API_URL=